<html>
  <head>
    <style type="text/css">
      h1 {
        color:red;
      }
      body {
        background: black;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <h1>DOT NET IS RUNNING !</h1>
    <p> Congrats ! if you see this page this means the DotNet if fully running ! </p>
  </body>
</html>
